.movie {
  background: url("./static/images/Cosplay_Movies_Hd_Wallpaper_Wallpaper_List.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  padding: 10% 10% 5%;
  min-height: 100vh;
  background-size: cover;
}

@media screen and (max-width: 1300px) {
  .movie {
    padding: 10% 5% 5%;
  }
}

@media screen and (max-width: 661px) {
   .movie {
    padding: 5% 12%;
  }
}
